@import "tailwindcss";

@theme {
  --color-primary: #ec4899;
  --color-bg-dark: #050505;
  --font-sans: "Satoshi", "Inter", sans-serif;
  --font-display: "Space Grotesk", sans-serif;
}

@layer base {
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
  @import url('https://api.fontshare.com/v2/css?f[]=satoshi@900,700,500,300,400&display=swap');

  body {
    background-color: var(--color-bg-dark);
    color: #f8fafc;
    font-family: var(--font-sans);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-display);
  }

  /* Custom Selection */
  ::selection {
    background-color: rgba(236, 72, 153, 0.3);
    color: #fbcfe8;
  }

  /* Lenis */
  html.lenis, html.lenis body {
    height: auto;
  }
  .lenis.lenis-smooth {
    scroll-behavior: auto !important;
  }
  .lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
  }
  .lenis.lenis-stopped {
    overflow: hidden;
  }
  .lenis.lenis-smooth iframe {
    pointer-events: none;
  }

  /* Hide Scrollbar */
  ::-webkit-scrollbar {
    display: none;
  }
  * {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  @keyframes scan {
    0% { transform: translateX(-150%) skewX(-15deg); }
    100% { transform: translateX(100%) skewX(-15deg); }
  }

  /* Grid Background pattern */
  .bg-grid-pattern {
    background-size: 40px 40px;
    background-image: 
      linear-gradient(to right, rgba(255, 255, 255, 0.03) 1px, transparent 1px),
      linear-gradient(to bottom, rgba(255, 255, 255, 0.03) 1px, transparent 1px);
  }
}
